/* Banner */
.banner{width: 100%;overflow: hidden;position: relative;}
.banner_wrap{width: 1100px;margin: 0 auto;position: relative;}
.banner .non{display: none;}
.banner .show{display: block;}
.banner .show img,.banner .non img{width: 100%;height: 400px;object-fit: cover;display: block;}
.banner_nav{position: absolute;bottom: 15px;right: 20px;}
.banner_nav span{display: inline-block;width: 25px;height: 25px;line-height: 25px;text-align: center;
    background-color: #444444;color: #fff;cursor: pointer;margin-left: 5px;font-size: 12px;}

/* 网页宽度 */
.con{width: 1100px;margin: 0 auto;}

/* 商品列表 */
.fruitboxs{width: 100%;min-height: 200px;border-top: 2px solid #669933;padding-top: 20px;overflow: hidden;}
.fruit_box{width: 220px;height: 320px;float: left;border: 1px solid #fff;position: relative;margin-right: 12px;margin-bottom: 15px;}
.fruit_box:hover{border: 1px solid #669933;}
.fruit_img{width: 220px;height: 220px;}
.fruit_img img{width: 220px;height: 220px;}
.fruit_name{width: 100%;height: 30px;color: #666666;font-size: 20px;line-height: 30px;margin-left: 10px;}
.fruit_num{width: 100%;height: 30px;line-height: 30px;font-size: 15px;margin-left: 10px;color: #999;}
.fruit_mon{width: 100%;height: 35px;line-height: 35px;font-size: 20px;color: #669933;margin-left: 10px;}
.flogo{position: absolute;right: 0;bottom: 0;}